#mainTableDiv{
    overflow-x: hidden;  
}
#dataTablePurchases_paginate{
    display: flex;
    justify-content: flex-end;
}
.innerButtonPurchaseList{
    display: flex;
    justify-content: center;
}
.purchaseStatus{
    text-align: center;
}
