#mainTableDiv{
    overflow-x: hidden;  
}
#dataTableOrders_paginate{
    display: flex;
    justify-content: flex-end;
}
.innerButtonOrderList{
    display: flex;
    justify-content: center;
}
.orderStatus{
    text-align: center;
}
.statusReady{
}
.statusPending{
}