<html xmlns:thymeleaf:th="http://www.thymeleaf.org">
<!--HEAD-->
<head th:replace="order/order :: head"></head>
<!--NAV-->
<nav th:replace="main/main  :: index_nav"></nav>

<div class="container-fluid" id="mainOrderDiv">
    <div class="col-xl-8 col-lg-6">
        <div class="card shadow mt-4">
            <div class="card-header" th:text="${subtitle}"></div>
            <div class="card-body">
              <h4 class="card-title" th:text="${hey}">Primary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>

<div th:replace="order/order :: foot"></div>
</body>

</html>