<div class="table-responsive" th:fragment="table" id="mainTableDiv">
    <table class="table table-bordered hover" id="dataTableOrders">
        <thead>
            <tr class="table-active">
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha/Hora</th>
                <th>Direccion</th>
                <th>Líneas</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1337</td>
                <td>Marie Curie</td>
                <td>27/04/2022 - 13:30</td>
                <td>C/ De la ciencia, 20</td>
                <td>4</td>
                <td>35,50</td>
                <td>Ver líneas</td>
            </tr>
        </tbody>
    </table>
</div>