<!--LINES TABLE-->
<div class="table-responsive" th:fragment="linesTable" id="mainTableDiv">
    <table class="table table-bordered hover" id="dataTableLines">
        <thead>
            <tr class="table-active">
                <th>Linea</th>
                <th>Prod.</th>
                <th>Cant.</th>
                <th>Desc.</th>
                <th>Calc. Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="specificOrderInput">
        </tbody>
    </table>
</div>