<!--ORDERS TABLE-->
<div class="table-responsive" th:fragment="table" id="mainTableDiv">
    <table class="table table-bordered table-hover" id="dataTablePurchases">
        <thead>
            <tr class="table-active">
                <th>ID</th>
                <th>Date / Time</th>
                <th>Customer</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Total / Disc.</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="purchaseListInput">
        </tbody>
    </table>
</div>